<h1>Login</h1>

<% if ENV["KC_PATRON_REALM"] %>
  <%= button_to t("auth.patron_login"), user_catalogue_patron_omniauth_authorize_path, class: "btn btn-primary", data: { turbo: false } %>
<% else %>
  <%= form_for(resource, as: resource_name, html: {'data-turbo' => "false"}, url: session_path(resource_name)) do |f| %>
    <div class="field form-group">
      <%= f.label :username, "User ID" %>
      <%= f.text_field :username, autofocus: true, autocomplete: "username",class: "form-control col-md-4" %>
    </div>

    <div class="field form-group">
      <%= f.label :password, "Family Name" %>
      <%= f.text_field :password, autocomplete: "off",class: "form-control col-md-4" %>
    </div>

    <p><%= t("devise.registrations.register", url: ENV["NATIONAL_LIBRARY_CARD_URL"]).html_safe %></p>

    <div class="actions">
      <%= f.submit "Login", class: "btn btn-primary" %>
    </div>
  <% end %>
<% end %>

<%= render "users/shared/links" %>
